body {
    margin: 0;
    background-color: #f8f8f8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    width: 100%;
    background-color: #2D2C2C;
    height: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #e5e5e5;
    transition: 0.2s;
}

header a:hover {
    color: #FCA311;
    transition: 0.2s;
}

#Search-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Search-Container input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 15px;
    outline: none;
    box-shadow: 1px 1px 7px black;
}

#Search-Container input:active, #Search-Container input:focus {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    height: 15px;
}

#burger {
    display: none;
}

#burgericon {
    color: #e5e5e5;
    display: none;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    height: 155rem;
    background-color: #A9A9A9;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#AsideNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#AsideNav a {
    color: #14213d;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    transition: 0.2s;
}

#AsideNav a:hover {
    color: #838383;
    transition: 0.2s;
}

#dropdown {
    position: relative;
}

#dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #bebebe;
  margin-left: 2.2rem;
  min-width: 200px;
  border: 1px solid black;
  padding: 0.5rem;
  gap: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown:hover #dropdown-content {
  display: flex;
}

aside img {
    width: 170px;
    height: 170px;
}

#MainContent {
    width: 80%;
}

#MainContentBackground {
    width: 100%;
    height: 30rem;
    background-image:url(img/mainbg.png);
    background-size: cover;
    background-position-y: -500px;
}

#BlackSquare {
    background-color: black;
    width: 100%;
    height: 30rem;
    opacity: 0.5;
}

#MainContent h1{
    display: flex;
    justify-self: center;
    color: #14213d;
}

#MainText{
    margin: 2rem;
    font-weight: 500;
    color: #14213d;
    width: 80%;
    display: flex;
    justify-self: center;
    line-height: 25px;
}

hr {
    width: 90%;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 5px 0px #202e4d;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.2s;
}

.card img {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2rem;
}

.card h2{
    margin: 0;
}

.card p{
    margin:0.7rem;
}

.card button {
    background-color: #14213d;
    border: 1px solid black;
    border-radius: 5px;
    width: 8rem;
    height: 2.5rem;
    color: #e5e5e5;
    margin-bottom: 20px;
    transition: 0.5s;
}

.card button:hover {
    background: #FCA311;
    background: linear-gradient(90deg, rgba(252, 163, 17, 1) 53%, rgba(229, 229, 229, 1) 100%);
    color: #14213d;
    transition: 0.5s;
    cursor: pointer;
}

#modal1 {
    display: none;
}

#modal2 {
    display: none;
}

#modal3 {
    display: none;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
    background-color:#2D2C2C;
    color: #e5e5e5;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

#Contact-Form-spizdil form {
  width: 340px;
  height: 340px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

#Contact-Form-spizdil h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

#Contact-Form-spizdil input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

#Contact-Form-spizdil button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

#Contact-Form-spizdil button:hover {
  background: #78788c;
  color: #fff;
}

#Films {
    width: 70%;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    #cards {
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: none;
    }

    header {
        justify-content: left;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header a {
        display: none;
    }

    #burger {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #525252;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color: #e5e5e5;

    }

    #burger-header a {
        text-decoration: none;
        color: black;
    }

    #burger-header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #burger-funcs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #burger-funcs a {
        text-decoration: none;
        color: #e5e5e5;
    }

    #burgericon {
        display: block;
        font-size: 2.5rem;
    }

    #MainContent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #BlackSquare {
        height: 30rem;
    }

    #MainContentBackground {
        width: 100%;
        height: 30rem;
        background-image:url(img/mainbg.png);
        background-size: cover;
        background-position-y: -480px;
    }

    #Films {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: 50px;
    }
}